.header {
  color: white;
  margin: 25px 100px;
  padding-left: 30px;
  background-color: #aa9183;

  &__title {
    font-size: 72px;
    border-bottom: 5px double white;
    padding-top: 10px;
  }

  &__black {
    font-size: 90px;
    color: black;
  }

  &__subtitle {
    padding-top: 20px;
    letter-spacing: 5px;
    font-size: 30px;
    padding-bottom: 10px;
  }

  &__intro {
    letter-spacing: 0.5px;
    font-size: 20px;
    color: black;
  }

  &__form {
    padding-top: 20px;
  }

  &__label {
    padding-right: 30px;
  }

  &__btn {
    padding: 20px 0;
  }

  &__button {
    padding: 10px;
    font-family: inherit;
    color: white;
    background-color: black;
    border: 0;
  }
}
