* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a:link {
  text-decoration: none;
}

.sandwich {
  background-color: black;
  // border: 3px solid lime;
  height: 100vh;

  &__container {
    display: flex;
    flex-direction: column;
    // justify-content: center;
    align-items: center;
    padding: 20px 0;
    text-align: center;
    // border: 3px solid hotpink;
    height: 100vh;
  }

  &__header {
    width: 75%;
    color: white;
    // border: 3px solid tomato;
    text-align: center;
  }

  &__contents {
    width: 75%;
    padding: 20px 0;
    margin-bottom: 20px;
    // border: 3px solid blue;
    display: flex;
  }

  &__picture {
    margin: 10px;
    padding: 15px;
    border: 10px dotted white;
    // height: 200px;
    width: 35%;
  }

  &__summary {
    padding: 50px;
    color: white;
    text-align: justify;
    // border: 3px solid rebeccapurple;
    margin: 10px;
    width: 65%;
  }

  &__link {
    background-color: white;
    margin-top: 20px;
    border-radius: 5%;
    padding: 10px;
    text-align: center;
    // border: 3px solid grey;
  }
}
