* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Nunito", sans-serif;
  font-family: "Staatliches", cursive;
}

p a:link {
  text-decoration: none;
  color: #654321;
  font-style: italic;
}

@-webkit-keyframes violently-shake {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }
  10% {
    transform: translate(-1px, -2px) rotate(-1deg);
  }
  20% {
    transform: translate(-3px, 0px) rotate(1deg);
  }
  30% {
    transform: translate(3px, 2px) rotate(0deg);
  }
  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    transform: translate(3px, 1px) rotate(-1deg);
  }
  80% {
    transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    transform: translate(1px, 2px) rotate(0deg);
  }
  100% {
    transform: translate(1px, -2px) rotate(-1deg);
  }
}

@keyframes violently-shake {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }
  10% {
    transform: translate(-1px, -2px) rotate(-1deg);
  }
  20% {
    transform: translate(-3px, 0px) rotate(1deg);
  }
  30% {
    transform: translate(3px, 2px) rotate(0deg);
  }
  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    transform: translate(3px, 1px) rotate(-1deg);
  }
  80% {
    transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    transform: translate(1px, 2px) rotate(0deg);
  }
  100% {
    transform: translate(1px, -2px) rotate(-1deg);
  }
}
.header {
  color: white;
  margin: 2% 8%;
  padding-left: 2.5%;
  background-color: #aa9183;
}
.header__title {
  font-size: 72px;
  border-bottom: 5px double white;
  padding-top: 10px;
}
.header__black {
  font-size: 90px;
  color: black;
}
.header__subtitle {
  padding-top: 20px;
  letter-spacing: 5px;
  font-size: 30px;
  padding-bottom: 10px;
}
.header__subtitle:hover {
  -webkit-animation: violently-shake 0.5s;
          animation: violently-shake 0.5s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}
.header__intro {
  letter-spacing: 0.5px;
  font-size: 20px;
  color: black;
}
.header__form {
  padding-top: 20px;
}
.header__label {
  font-size: 16px;
  padding-right: 30px;
}
.header__btn {
  padding: 20px 0;
}
.header__button {
  padding: 10px;
  font-size: 16px;
  font-family: inherit;
  color: white;
  background-color: black;
  border: 0;
}
.header__button:hover {
  background-color: #654321;
  color: black;
  font-size: 30px;
}

.sandwich {
  color: black;
  margin: 2% 8% 5.5% 8%;
  padding-right: 2.5%;
  height: 100%;
  background-color: #e5cec1;
}
.sandwich__container {
  position: relative;
  width: 100%;
}
.sandwich__header {
  text-align: right;
  padding-top: 20px;
  letter-spacing: 5px;
  font-size: 30px;
  padding-bottom: 10px;
  border-bottom: 5px double black;
}
.sandwich__contents {
  display: flex;
  padding: 20px 0;
}
.sandwich__picture {
  width: 40%;
  padding-left: 20px;
  padding-bottom: 10px;
}
.sandwich__summary {
  direction: rtl;
  text-align: justify;
  font-size: 20px;
  width: 60%;
  padding-left: 20px;
}
.sandwich__link {
  font-size: 16px;
  text-decoration: none;
  position: absolute;
  bottom: -30px;
  right: 10px;
  margin-left: 20px;
  padding: 10px;
  color: black;
  background-color: white;
  border: 2px solid black;
}
.sandwich__link:hover {
  background-color: #654321;
  color: white;
}/*# sourceMappingURL=main.css.map */